doctype html
head
  meta(charset='utf-8')
  meta(name='theme-color' content='#6F5038')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(rel='icon' href='/favicon.ico')
  title app
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css')
  link(href='/css/chunk-60140870.adda699c.css' rel='prefetch')
  link(href='/js/chunk-2d0d6d35.16c601e7.js' rel='prefetch')
  link(href='/js/chunk-2d2086b7.e87aab9e.js' rel='prefetch')
  link(href='/js/chunk-60140870.4df004a2.js' rel='prefetch')
  link(href='/css/app.78776e21.css' rel='preload' as='style')
  link(href='/css/chunk-vendors.5760770c.css' rel='preload' as='style')
  link(href='/js/app.985ee536.js' rel='preload' as='script')
  link(href='/js/chunk-vendors.6f36d822.js' rel='preload' as='script')
  link(href='/css/chunk-vendors.5760770c.css' rel='stylesheet')
  link(href='/css/app.78776e21.css' rel='stylesheet')
noscript
  strong
    | We&apos;re sorry but app doesn&apos;t work properly without JavaScript enabled. Please enable it to continue.
#app
script(src='/js/chunk-vendors.6f36d822.js')
script(src='/js/app.985ee536.js')
