doctype html
head
  meta(charset='utf-8')
  meta(name='theme-color' content='#1E1C24')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  //if IE
    link(rel='icon' href='./favicon.ico')
  title app
  link(href='/css/chunk-07644d3e.d001b5e8.css' rel='prefetch')
  link(href='/css/chunk-202e2b90.0a3d0800.css' rel='prefetch')
  link(href='/css/chunk-81df1260.26db4e94.css' rel='prefetch')
  link(href='/css/chunk-f6d0004c.e5346d99.css' rel='prefetch')
  link(href='/js/chunk-07644d3e.f79e125a.js' rel='prefetch')
  link(href='/js/chunk-202e2b90.cb10c66c.js' rel='prefetch')
  link(href='/js/chunk-2d0d6d35.4346c8ee.js' rel='prefetch')
  link(href='/js/chunk-2d2086b7.562b6bc3.js' rel='prefetch')
  link(href='/js/chunk-81df1260.4745c758.js' rel='prefetch')
  link(href='/js/chunk-f6d0004c.3b2f8dfc.js' rel='prefetch')
  link(href='/css/app.81b1493e.css' rel='preload' as='style')
  link(href='/css/chunk-vendors.8165441e.css' rel='preload' as='style')
  link(href='/js/app.7803f2c3.js' rel='preload' as='script')
  link(href='/js/chunk-vendors.dc974a25.js' rel='preload' as='script')
  link(href='/css/chunk-vendors.8165441e.css' rel='stylesheet')
  link(href='/css/app.81b1493e.css' rel='stylesheet')
  link(rel='icon' type='image/png' sizes='32x32' href='/img/icons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/img/icons/favicon-16x16.png')
  link(rel='manifest' href='/manifest.json')
  meta(name='theme-color' content='#4DBA87')
  meta(name='apple-mobile-web-app-capable' content='no')
  meta(name='apple-mobile-web-app-status-bar-style' content='default')
  meta(name='apple-mobile-web-app-title' content='app')
  link(rel='apple-touch-icon' href='/img/icons/apple-touch-icon-152x152.png')
  link(rel='mask-icon' href='/img/icons/safari-pinned-tab.svg' color='#4DBA87')
  meta(name='msapplication-TileImage' content='/img/icons/msapplication-icon-144x144.png')
  meta(name='msapplication-TileColor' content='#000000')
noscript
  strong
    | We&apos;re sorry but app doesn&apos;t work properly without JavaScript enabled. Please enable it to continue.
#app
script(src='/js/chunk-vendors.dc974a25.js')
script(src='/js/app.7803f2c3.js')
